@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* .tasks {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

.task {
  width: 200px;
  border: 1px solid pink;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
} */

#ehh {
  /* margin-top: 2rem; */
  position: relative;
  align-items: center;
  width: 100%;
  height: 90vh;
  /* left: 50%; */
  /* transform: translate(-50%); */
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

nav {
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
}

nav a {
  padding: 0.5rem 1rem;
}

/* totalNavHeight = 20 + 15 + 15 = 50px */

form {
  display: flex;
  flex-direction: column;
}

.addTaskForm {
  display: flex;
  flex-direction: row;
}

label,
input,
select,
button {
  margin-block: 0.2rem;
}

ul {
  padding-left: 1rem;
}

/* HomeStyles */

.homeContainer {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  width: 50%;
  height: 50%;
  position: relative;
  padding: 25px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 3%;
}

/* HomeStyles */

/* AudioPlayerStyles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.music-container {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  width: 50%;
  height: 50%;
  position: relative;
  padding: 25px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 3%;
}

@media only screen and (max-width: 786px) {
  .music-container {
    width: 50%;
  }
}

.heading {
  color: black;
  text-align: center;
  z-index: 1;
}

.img-container {
  justify-content: center;
  align-self: center;
  position: relative;
  width: 100px;
  z-index: 1;
  padding: 15px;
}

/* .img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
} */

.img-container img {
  border-radius: 50%;
  height: 100px;
  width: inherit;
  position: relative;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 20px;
}

.action-btn {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid black;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  /* padding: 10px; */
  margin: 0 20px;
}

.action-btn.action-btn-big {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid black;
  padding: 20px 25px 20px 25px;
  font-size: 30px;
  cursor: pointer;
  /* padding: 10px; */
  margin: 0 20px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  align-self: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  position: relative;
  width: calc(100% - 50px);
  padding: 20px;
  /* opacity: 0; */
  /* transform: translateY(0%); */
  /* transition: transform 0.3s ease-in, opacity 0.3s ease-in; */
  /* z-index: 0; */
}

/* .music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
} */

.music-info h4 {
  margin: 0;
  text-align: center;
  color: black;
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
  align-self: center;
}

.progress-container {
  background: rgb(235, 224, 226);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* AudioPlayerStyles */

/* PlaylistAudioPlayerStyles */

.playlistAudioPlayerContainer {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 50%;
  height: 50%;
  border: 2px solid black;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 3%;
}

.prev-next-btns {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.song-display-container {
  display: flex;
  position: relative;
  width: 50%;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 2px solid black;
  color: black;
  background-color: white;
}

.play-btn {
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  color: white;
  background-color: black;
}

.pause-btn {
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  color: white;
  background-color: black;
}

.play-pause-btns {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.input-btn {
  padding: 10px;
  margin: 10px;
  color: #ffffff;
  width: 80%;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  color: black;
}

.reset-btn {
  padding: 10px;
  margin: 10px;
  width: 30%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  color: white;
  background-color: black;
}
